nav{
    margin: 5px; 
    padding: 1.2px; 
    background-color: #293899; 
    font-size: small;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
ul{
    text-align: center;
    padding: 0;
}
li{
    display: inline; 
    margin-inline: 150px; 
    color: white;
}
a{
    color: white;
}

h1{
    background-size: cover;
    color:rgb(4, 4, 4);
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', ;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
}
img{
    height: 300px; 
    width: 350px;
    padding: 20px;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container{
    text-align: center;
}

.img-container img{
    max-width: 100%;
    max-height: 100%;
    padding: 5px 90px 5px 70px;
}

.tituloImagen{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px; /* Agrega espacio entre la imagen y el texto */
}

.DescripcionImagen{
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}

.agregarVenta{
    padding: 15px;
    margin: 20px;
    background-color: rgb(71, 153, 153);
    color: white;
}

@media only screen and (max-width:900px) {
    li{
        display: inline; 
        margin-inline: 50px; 
        color: white;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
    }
    .DescripcionImagen{
        text-align: center;
        font-size: 15px;
        font-weight: lighter;
    }
    .img-container img{
        max-width: 100%;
        max-height: 100%;
        padding: 5px 20px 5px 20px;
    }
    
}

@media only screen and (max-width: 480px) {
    li{
        display: inline; 
        margin-inline: 15px; 
        color: white;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);   
        flex-wrap: wrap;    
    }
    .img-container img {
        max-width: 100%;
        max-height: 100%;
    }
}